header {
    max-width: 1430px;
    height: 92px;
    display: grid;
    justify-content: space-between;
    align-items: end;
    margin: 0 auto;
    row-gap: 10px;
    grid-template-areas:
            "A B C"
            ". D .";
}

.logo-block {
    display: flex;
    align-items: center;
    /*margin: 0 10px 0 30px;*/
}

.logo {
    width: 216px;
    height: 50px;
    margin-right: 10px;
    grid-area: A;
}

.nav-mobile {
    grid-area: D;
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    grid-area: B;
}

.menu__item {
    height: 48px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-left: solid 1px #D4E0E7;
    position: relative;
}

.menu__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 1px;
    width: 0;
    background: #D4E0E7 none repeat scroll 0 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.menu__item:hover::after {
    width: 100%;
    left: 0;
}

.menu__item img {
    margin-right: 8px;
}

.menu__item a {
    text-decoration: none;
    color: #232221;
    font-size: 18px;
    line-height: 24px;
}

.menu__item:last-child {
    width: auto;
    border-right: solid 1px #D4E0E7;
}

.cart {
    height: 48px;
    /*padding: 0 10px;*/
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: flex-end;
    cursor: pointer;
    grid-area: C;
}

.open-shop-block {
    display: none;
}

.cart img {
    margin-right: 12px;
}

.open-shop {
    text-decoration: none;
    color: #2B91D7;
    font-weight: 600;
    font-size: 18px;
}

.cart__count {
    /*width: 70px;*/
    height: 48px;
    /*padding: 10px;*/
    margin-right: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E85B96;
}

.cart__count span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.cart__count img {
    margin: 0 5px 0 0;
}

/*LOGIN STYLES START*/
.cart__count {
    /*width: 170px;*/
    /*height: 48px;*/
    /*margin-right: 1em;*/
    /*display: flex;*/
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
    /*background-color: #E85B96;*/
}

.cart__count span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.border {
    font-size: 20px;
    color: #D22970;
}

.cart__count img {
    margin: 0 5px 0 0;
}

.cart__count-left {
    display: flex;
    align-items: flex-start;
    padding: 0 20px;
}

.cart__count-right {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.cart__count-link {
    margin: 0;
    padding: 0;
    display: flex;
}

.avatar {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border: 2px solid #EBECEE;
    border-radius: 50%;
    color: #2B91D7;
}

/*profile-menu*/
.profile-menu {
    position: relative;
    width: 40px;
    height: 40px;
}

.profile-summary {
    list-style: none;
}

.profile-summary::-webkit-details-marker {
    display: none;
}

.profile-details > .profile-summary::marker {
    display: none;
}

.profile-details[open] .profile-summary ~ * {
    animation: smooth 0.4s ease-in-out;
}

@keyframes smooth {
    0% {
        opacity: 0;
        margin-top: -10px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.profile-details > .profile-summary::after {
    position: absolute;
    content: "";
    background: url("/images/main/img/arrow-blue-down.png") no-repeat;
    width: 16px;
    height: 9px;
    left: 30%;
    top: 40%;
}

.profile-details[open] > .profile-summary::after {
    position: absolute;
    content: "";
    background: url("/images/main/img/arrow-footer-up.png") no-repeat;
    width: 16px;
    height: 9px;
    right: 25px;
    top: 40%;
}

.profile-block {
    position: absolute;
    right: 0;
    top: 3em;
    width: 270px;
    padding: 20px 20px 12px;
    background-color: white;
    border: 1px solid #D4E0E7;
    filter: drop-shadow(0px 4px 12px rgba(90, 96, 99, 0.3));
    z-index: 10;
}

.list-item {
    list-style: none;
    padding-bottom: 10px;
}

.list-link {
    text-decoration: none;
    font-size: 16px;
    color: #232221;
}

.list-link:hover {
    text-decoration-line: underline;
}

.list-link:active {
    text-decoration-line: underline;
    color: #2B91D7;
}

.name-user,
.email-user {
    text-decoration: none;
    font-size: 16px;
    color: #2B91D7;
}

hr.style-line {
    border: 0;
    height: 1px;
    background: #D4E0E7;
    margin: 10px 0 14px;
}

/*LOGIN STYLES END */

.login {
    width: 170px;
    height: 48px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border: 2px solid #EBECEE;
    cursor: pointer;
}

.login span {
    color: #232221;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.login-mobile {
    display: none;
}

.profile-burger-block {
    display: none;
}

@media (max-width: 1430px) {
    header {
        padding: 0 10px;
    }
}

@media (max-width: 1350px) {
    .menu__item:last-child {
        width: min-content;
    }
}

@media (max-width: 1220px) {
    header {
        height: auto;
        margin-top: 1em;
        grid-template-areas:
            "A C"
            "D D";
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        width: 100%;
        display: flex;
        margin-top: 1em;
        justify-content: center;
        border-top: solid 1px #D4E0E7;
    }

    .menu__item {
        border-left: none;
        border-right: solid 1px #D4E0E7;
    }

    .menu__item:last-child {
        width: auto;
        border-right: none;
    }

    .login {
        width: 150px;
    }

    /*.cart__count {*/
    /*    width: 70px;*/
    /*}*/
}

@media (max-width: 768px) {
    .logo-block {
        /*margin: 0 10px 0 16px;*/
    }

    .logo, .logo img {
        width: 170px;
        height: 40px;
    }

    .cart img {
        margin-right: 8px;
    }

    /*.cart__count {*/
    /*    margin-left: 8px;*/
    /*}*/
    .nav-burger {
        /*margin: 0 10px 0 0;*/
        display: block;
    }

    .login {
        width: 144px;
    }

}

@media (max-width: 610px) {
    header {
        display: flex;
        flex-direction: column;
        margin: 1em 0 0;
        padding: 0;
    }

    img, .logo {
        margin-right: 0;
    }

    .logo-block {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .desktop-avatar,
    .nav-mobile,
    .profile,
    .profile-menu,
    .login {
        display: none;
    }

    .cart {
        width: 100%;
        margin-right: 0;
    }

    .login-mobile {
        display: flex;
    }

    .profile-burger-block {
        display: block;
    }

    .cart__count-mobile-login {
        display: flex;
        width: 100vw;
    }

    .cart__count,
    .cart__count-login {
        width: 100%;
        margin-right: 0;
    }

    .cart__count-login-left,
    .cart__count-login-right {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 375px) {
    .logo, .logo img {
        width: 128px;
        height: 30px;
    }
}

@media (max-width: 320px) {

}
