.search-section {
    width: 100vw;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    margin: 0 auto 1.5em;
}

.search-section p {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #232221;;
}

.catalog-link-mobile {
    display: none;
}

.catalog-link-desktop a,
.catalog-link-mobile a {
    text-decoration: none;
    color: #2B91D7;
}

.search-block {
    width: 1430px;
    padding: 16px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.image-search-fields {
    width: 100%;
    display: flex;
    align-items: center;
}

/*!!!!*/
select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    font-size: 16px;
    color: #232221;
    background-image: none;
    cursor: pointer;
    border: 1px solid #D4E0E7;
    border-radius: 6px;
}

/* Custom Select wrapper */
.selects {
    position: relative;
    display: flex;
    width: 168px;
    height: 38px;
    margin-right: 20px;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.selects::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    padding: 1em;
    transition: .25s all ease;
    pointer-events: none;
    background-image: url("/images/main/img/arrow-blue-down.png");
    background-repeat: no-repeat;
}

option {
    background-color: transparent;
    padding: 1em;
    font-size: 14px;
    color: #232221;
}

/*!!!!!*/
.sale {
    width: 50px;
}

.sale-span {
    font-size: 16px;
    line-height: 16px;
    color: #E85B96;
}

.manual-search {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.manual-search-block {
    /*width: 100%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manual-search-input input {
    /*display: block;*/
    width: 270px;
    height: 38px;
    margin-right: 30px;
    border: none;
    border-radius: 4px;
    padding-left: 10px;
}

.manual-search-input input::placeholder {
    font-size: 16px;
    line-height: 16px;
    color: #A4AEB3;
}

.search-button {
    width: 170px;
    height: 40px;
    background-color: #00CCCC;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}

.input-search {
    position: relative;
}

.input-search img {
    position: absolute;
    right: 12%;
    top: 34%;
}

@media (max-width: 1430px) {
    .search-block {
        padding: 16px 10px 24px 10px;
    }
}

@media (max-width: 1370px) {
    .search-block {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .manual-search-block {
        width: 100%;
    }

    .input-search {
        flex: 90%;
    }

    .manual-search {
        width: 100%;
        order: 1;
        margin-bottom: 1em;

    }

    .manual-search-input input {
        width: 90%;
    }

    .catalog-link-desktop {
        display: none;
    }

    .catalog-link-mobile {
        display: block;
    }

    .selection-search {
        width: 100%;
        order: 2;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .image-search-title {
        display: none;
    }

}

@media (max-width: 1070px) {

    .search-block {
        /*padding: 16px 10px 0 10px;*/
    }

    .image-search-fields {
        flex: 90%;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .selects {
        width: 172px;
        /*height: 60px;*/
        margin-right: 6px;
    }

    .sale, .sale-span {
        display: none;
    }
}