.search-section {
    width: 100vw;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    /*margin: 0 auto 1.5em;*/
}

.search-section p {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #232221;;
}

.catalog-link-desktop {
    width: 170px;
}

.catalog-link-mobile {
    display: none;
}

.catalog-link-desktop a,
.catalog-link-mobile a {
    display: none;
    /*text-decoration: none;*/
    /*color: #2B91D7;*/
}

.search-block {
    width: 1430px;
    padding: 16px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.image-search-fields {
    /*width: 100%;*/
    display: flex;
    align-items: center;
}

/*!!!!*/
select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    font-size: 16px;
    color: #232221;
    background-image: none;
    cursor: pointer;
    border: 1px solid #D4E0E7;
    border-radius: 6px;
    background-color: transparent;
}

/* Custom Select wrapper */
.selects {
    position: relative;
    display: flex;
    width: 168px;
    height: 38px;
    margin-right: 20px;
    border-radius: .25em;
    overflow: hidden;
    background-color: #FFFFFF;
}

/* Arrow */
.selects::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    padding: 1em;
    transition: .25s all ease;
    pointer-events: none;
    background-image: url("/images/main/img/arrow-blue-down.png");
    background-repeat: no-repeat;
}

option {
    background-color: transparent;
    padding: 1em;
    font-size: 14px;
    color: #232221;
}

/*!!!!!*/
.sale {
    width: 50px;
}

.sale-span {
    margin-left: 10px;
    font-size: 16px;
    line-height: 16px;
    color: #E85B96;
}

.manual-search {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-end;
}

.manual-search-block {
    /*width: 100%;*/
    display: flex;
    /*align-items: center;*/
    align-items: flex-start;
    justify-content: space-between;
}

.manual-search-input input {
    /*display: block;*/
    width: 270px;
    height: 38px;
    margin-right: 30px;
    border: none;
    border-radius: 4px;
    padding-left: 10px;
}

.manual-search-input input::placeholder {
    font-size: 16px;
    line-height: 16px;
    color: #A4AEB3;
}

.btn-and-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.5em;
}

.search-button {
    width: 170px;
    height: 40px;
    background-color: #00CCCC;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.search-button:hover {
    background: #00B9B9;
}

.search-button:focus {
    background-color: #00AFAF;
    border: 2px solid #5BEDED;
}

.search-button:active {
    background-color: #00AFAF;
}

.input-search {
    position: relative;
}

.input-search img {
    position: absolute;
    right: 12%;
    top: 34%;
}



/*CHECKBOXES STYLES*/

/* Hiding the initial checkbox */

.main-sale {
    display: block;
    position: relative;
    padding-left: 12px;
    /*margin-bottom: 20px;*/
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: #273841;
}

.checkbox-sale {
    visibility: hidden;
}
/* Creating a custom checkbox based on demand */
.checkbox-span {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background: #FFFFFF;
    border: 1px solid #D4E0E7;
    box-sizing: border-box;
    border-radius: 4px;
}
/* Specify the background color to be shown when hovering over checkbox */
.main-sale:hover input ~ .checkbox-span {
    background-color: rgba(232, 91, 150, 0.1);
    border: 1px solid #E85B96;
}
/* Specify the background color to be shown when checkbox is active */
.main-sale input:active ~ .checkbox-span {
    border: 1px solid #E85B96;
}
/* Specify the background color to be shown when checkbox is checked */
.main-sale input:checked ~ .checkbox-span {
    background: #E85B96;
}
/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.checkbox-span:after {
    content: "";
    position: absolute;
    display: none;
}
/* Display checkmark when checked */
.main-sale input:checked ~ .checkbox-span:after {
    display: block;
}
/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and
showing only two border to make it look
like a tickmark */
.main-sale .checkbox-span:after {
    left: 6px;
    bottom: 4px;
    width: 8px;
    height: 16px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filter-menu {
    display: none;
}

@media (max-width: 1430px) {
    .search-block {
        padding: 16px 10px 24px 10px;
    }
}

@media (max-width: 1370px) {

    .search-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 26px 10px 24px 10px;
    }

    .manual-search-block {
        width: 100%;
    }

    .input-search {
        flex: 90%;
    }

    .manual-search {
        width: 100%;
        order: 1;
        margin-bottom: 1em;
    }

    .manual-search-input input {
        width: 90%;
    }

    .catalog-link-desktop {
        display: none;
    }

    .go-to-catalog {
        width: 164px;
    }
    .catalog-link-mobile {
        display: block;
    }

    .selection-search {
        width: 100%;
        order: 2;
        /*display: flex;*/
        /*align-items: baseline;*/
        /*justify-content: space-between;*/
    }

    .image-search-title {
        display: none;
    }
}

@media (max-width: 1070px) {
    .search-block {
        padding: 31px 10px 18px 10px;
    }

    .image-search-fields {
        flex: 90%;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .selects {
        width: 172px;
        /*height: 60px;*/
        margin-right: 6px;
    }

    .main-sale,
    .sale-span {
        /*display: none;*/
    }

    /*div in IMAGE BLOCK 1*/
    .selection-search {
        display: none;
    }

    /*sort menu*/
    .filter-menu {
        display: flex;
        position: relative;
        left: -260%;
        width: 90px;
        /*order: 3;*/
        /*height: 40px;*/
    }

    .filter-summary {
        padding-left: 1em;
        order: 3;
        font-size: 18px;
        list-style: none;
    }

    .filter-summary::-webkit-details-marker {
        display: none;
    }

    .filter-details > .filter-summary::marker {
        display: none;
    }

    .filter-details[open] .filter-summary ~ * {
        animation: smooth 0.4s ease-in-out;
    }

    @keyframes smooth {
        0% {
            opacity: 0;
            margin-top: -10px;
        }
        100% {
            opacity: 1;
            margin-top: 0;
        }
    }

    .filter-details > .filter-summary::after {
        position: absolute;
        content: "";
        background: url("/images/main/img/arrow-blue-down.png") no-repeat;
        width: 16px;
        height: 9px;
        left: 74%;
        top: 40%;
    }

    .filter-details[open] > .filter-summary::after {
        position: absolute;
        content: "";
        background: url("/images/main/img/arrow-footer-up.png") no-repeat;
        width: 16px;
        height: 9px;
        right: 25px;
        top: 40%;
    }

    .filter-details[open] > .filter-summary::after {
        position: absolute;
        content: "";
        background: url("/images/main/img/arrow-footer-up.png") no-repeat;
        width: 16px;
        height: 9px;
        right: 25px;
        top: 40%;
    }

    .filter-choice {
        position: absolute;
        right: -190%;
        top: 2em;
        width: 425px;
        padding: 20px 20px 12px;
        background-color: white;
        border: 1px solid #D4E0E7;
        filter: drop-shadow(0px 4px 12px rgba(90, 96, 99, 0.3));
        z-index: 5;
    }

    .filter-list-item {
        list-style: none;
        padding-bottom: 10px;
    }

    .filter-list-link {
        text-decoration: none;
        font-size: 16px;
        color: #232221;
    }

    .filter-list-link:hover {
        text-decoration-line: underline;
    }

    .filter-list-link:active {
        text-decoration-line: underline;
        color: #2B91D7;
    }

    .selects {
        width: 100%;
        /*height: 60px;*/
        margin-right: 6px;
    }

    /*hr.style-line {*/
    /*    border: 0;*/
    /*    height: 1px;*/
    /*    background: #D4E0E7;*/
    /*    margin: 10px 0 14px;*/
    /*}*/

    .show-results {
        display: flex;
        justify-content: center;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        text-decoration-line: underline;
        color: #2B91D7;
    }

    /*LOGIN STYLES END */
}

@media (max-width: 768px) {
    .filter-choice {
        right: -180%;
    }

    .filter-menu {
        left: -200%;
    }
}

@media (max-width: 425px) {

    .search-block {
        align-items: center;
    }

    .manual-search {
        margin-bottom: 0.5em;
    }

    .manual-search-input input {
        width: 100%;
    }

    .input-search img {
        right: 5%;
    }

    .manual-search-block {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .btn-and-filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        /*row-gap: 1.5em;*/
    }

    .input-search {
        width: 100%;
    }

    .search-button {
        width: 140px;
        height: 40px;
        order: 2;
    }

    .filter-menu {
        left: 0;
        order: 1;
        margin-right: 2em;
    }

    .filter-choice {
        left: -30%;
        max-width: 320px;
    }
}