@import url('https://fonts.googleapis.com/css2?family=Atma:wght@500&display=swap');


.sort-filter {
    max-width: 1430px;
    margin: 0 auto 1.5em;
    position: relative;
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
}

.filter-block {
    display: none;
}

/*!!!*/

.selects-filter select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    font-size: 16px;
    color: #232221;
    background-image: none;
    cursor: pointer;
    border: none;
}

/* Custom Select wrapper */
.selects-filter {
    position: relative;
    display: flex;
    height: 38px;
    overflow: hidden;
}

.selects-filter {
    width: 8em;
}

/* Arrow */
.selects-filter::after {
    content: '';
    position: absolute;
    top: 15px;
    transition: .25s all ease;
    pointer-events: none;
    background-image: url("/images/main/img/arrow-blue-down.png");
    background-repeat: no-repeat;
}

.selects-filter::after {
    right: -10px;
    padding: 14px;
}

option {
    background-color: transparent;
    padding: 1em;
    font-size: 14px;
    color: #232221;
}

/*!!!*/
.roulette-mobile {
    display: none;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 0;
}

.container {
    width: 1430px;
    margin: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(7, 170px);
    grid-column-gap: 1em;
    grid-row-gap: 1.1em;
    grid-template-rows: repeat(2, 210px);
}

/* testimonial styles */
.testimonial {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img {
    width: 170px;
    height: 170px;
    position: relative;
    background: lavender;
    border-radius: 6px;
}

.card-img img {
    width: 100%;
    color: #E85B96;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    text-align: center;
    line-height: 10em;
}

.roulette {
    position: relative;
}

.next-draw,
.next-date {
    position: absolute;
    font-family: 'Atma', cursive;
    font-size: 19px;
    white-space: nowrap;
    color: #273841;
    z-index: 2;
}

.next-draw {
    transform: rotate(-18.62deg);
    top: 0.8em;
    left: 0.5em;
}

.next-date {
    transform: rotate(10.95deg);
    top: 2.2em;
    right: 1em;

}

.card-footer-roulette {
    display: flex;
    justify-content: center;
}

.roulette-title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    color: #7E67C0;
}


.percents {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    z-index: 10;
}

.sale-card .card-img::after {
    position: absolute;
    top: 1px;
    right: 1px;
    content: "";
    width: 54px;
    height: 32px;
    background: #E85B96;
    border-radius: 0 5px 0 0;
}

.exclusive .card-img {
    border: 6px solid #FFBA00;
    border-radius: 9px;
}

.exclusive .card-img::after {
    position: absolute;
    top: 6px;
    right: 6px;
    content: "";
    width: 30px;
    height: 30px;
    background: url("/images/main/img/01-header-icon-crown.png") no-repeat center rgba(39, 56, 65, 0.8);
}

.exclusive.like-cart {
    /*display: contents;*/
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-img.exclusive img {
    width: 101%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: 600;
    font-size: 16px;
    color: #232221;
}

.like-cart {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


/* testimonial cards LAYOUT */
.card-block-1 {
    /*grid-column: 1 / span 2;*/
}

.card-block-6, .card-block-11 {
    grid-column: 1;
}

.right-cards {
    grid-column: 6;
    grid-row: 1 / span 2;
}

.right-cards img {
    max-width: 370px;
    overflow: hidden;
}

.card-block-11,
.card-block-12,
.card-block-13,
.card-block-14 {
    display: none;
}

@media (max-width: 1430px) {
    .right-cards img {
        margin-left: 0;
    }

    .sort-filter {
        /*padding: 0 10px;*/
    }

    .wrapper {
        padding: 0 10px;
    }
}

@media (max-width: 1320px) {
    .container {
        grid-template-columns: repeat(6, 170px);
        grid-template-rows: repeat(3, 210px);
    }

    /* testimonial cards LAYOUT */
    .card-block-5 {
        grid-column: 1;
    }

    .card-block-6 {
        grid-column: span 1;
    }

    .card-block-9 {
        grid-column: 1;
    }

    .right-cards {
        grid-column: 5;
        grid-row: 1 / span 2;
    }

    .card-block-11 {
        display: flex;
        grid-column: 3;
    }

    .card-block-12,
    .card-block-13,
    .card-block-14 {
        display: flex;
    }
}

@media (max-width: 1025px) {
    .container {
        grid-template-columns: repeat(5, 170px);
        grid-template-rows: repeat(3, 210px);
        grid-row-gap: 1.5em;
    }

    /* testimonial cards LAYOUT */
    .card-block-4 {
        grid-column: 1;
    }

    .card-block-5 {
        grid-column: 2;
    }

    .card-block-7 {
        grid-column: 1;
    }

    .card-block-9 {
        grid-column: 3;
    }

    .right-cards {
        grid-column: 4;
        grid-row: 1 / span 2;
    }

    .card-block-11 {
        display: block;
        grid-column: 5;
    }

    .card-block-12,
    .card-block-13,
    .card-block-14 {
        display: none;
    }
}

@media (max-width: 910px) {
    .filter-block {
        /*width: 80px;*/
        display: flex;
        align-items: center;
    }

    .container {
        grid-template-columns: repeat(4, 170px);
        grid-template-rows: repeat(3, 210px);
        /*grid-row-gap: 1.5em;*/
    }

    /*.testimonial {*/
    /*    width: 154px;*/
    /*    height: 190px;*/
    /*}*/
    /* testimonial cards LAYOUT */
    .card-block-3 {
        grid-column: 1;
    }

    .card-block-4 {
        grid-column: 2;
    }

    .card-block-5 {
        grid-column: 1;
    }

    .card-block-6 {
        grid-column: 2;
    }

    .card-block-7 {
        grid-column: 3;
    }

    .right-cards {
        grid-column: 3;
        grid-row: 1 / span 2;
    }

    .card-block-9,
    .card-block-10,
    .card-block-11,
    .card-block-12,
    .card-block-13,
    .card-block-14 {
        display: none;
    }

    .right-cards img {
        /*margin-left: 0.5em;*/
    }
}

@media (max-width: 768px) {
    .container {
        grid-row-gap: 0;
    }

    .testimonial {
        width: 154px;
        height: 190px;
    }

    .card-img {
        width: 154px;
        height: 154px;
    }

    .next-date {
        right: 0.5em;
    }

    .right-cards img {
        max-width: 340px;
    }
}

@media (max-width: 650px) {

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 2em;
    }

    .next-draw,
    .next-date {
        font-size: 16px;
    }

    .card-block-1,
    .card-block-2,
    .card-block-3,
    .card-block-4,
    .card-block-5,
    .card-block-6 {
        display: flex;
    }

    .card-block-7,
    .card-block-8,
    .card-block-9,
    .card-block-10,
    .card-block-11,
    .card-block-12,
    .card-block-13,
    .card-block-14 {
        display: none;
    }

    .right-cards {
        /*margin-top: 2em;*/
        order: 1;
    }
}

@media (max-width: 425px) {

    .container {
        display: flex;
        justify-content: center;
        row-gap: 1em;
        column-gap: 1em;
    }

    .roulette-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 1em;

    }

    .roulette-mobile-card {
        background-color: #E5E3FF;
        border-radius: 6px;
        width: 296px;
        height: 120px;
        display: flex;
        justify-content: flex-end;
    }

    .next-draw-mobile,
    .next-date-mobile {
        font-family: 'Atma', cursive;
        font-size: 22px;
        line-height: 30px;
        color: #273841;
        transform: rotate(-18deg);
    }

    .next-draw-mobile {
        position: absolute;
        width: 110px;
        left: 22%;
        top: 26%;
    }

    .next-date-mobile {
        white-space: nowrap;
    }

    .roulette {
        display: none;
    }

    .testimonial {
        width: 140px;
        height: 180px;
    }

    .card-img {
        width: 140px;
        height: 140px;
    }

    .card-block-6 {
        display: none;
    }

    .right-cards img {
        max-width: 310px;
    }
}

@media (max-width: 325px) {
    .next-draw-mobile {
        left: 14%;
    }
}