.carousel {
    max-width: 1430px;
    margin: 30px auto;
    padding-bottom: 22px;
    background-color: #F2F2F2;
}

.carousel-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.backward {
    transform: rotate(180deg);
    margin: 0;
    cursor: pointer;
}

.carousel-start,
.-card {
    background: #F8F8F8;
    border: 1px solid #D4E0E7;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 22px;
    padding: 10px;
}

.carousel-start {
    width: 194px;
    height: 170px;
}

.carousel-card {
    width: 320px;
    height: 170px;
}

.heading-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.title-heading-card,
.show-more-heading-card,
.carousel-start-img,
.left-block-img,
.right-block-img {
    cursor: pointer;
}

.title-heading-card {
    font-weight: 600;
    font-size: 17px;
    color: #273841;
}

.show-more-heading-card {
    font-size: 16px;
    color: #2B91D7;
}

.carousel-card-images {
    display: flex;
    column-gap: 6px;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 0;
}

.left-block-img {
    width: 110px;
    height: 110px;
}

.right-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-block-img {
    width: 50px;
    height: 50px;
    margin-right: 0;
}

.toggle-carousel {
    display: flex;
    justify-content: center;
}

.toggle-carousel span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #E85B96;
    margin-right: 12px;
}

.toggle-active {
    background-color: #E85B96;
}

.toggle-carousel span:last-child {
    margin-right: 0;
    cursor: pointer;
}

.backward {
    margin-left: 10px;
}

.next {
    margin-right: 10px;
}

@media (max-width: 1430px) {

}