.banner-section {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.banner-block {
    max-width: 1430px;
}

.left-banner img, .right-banner img{
    width: 670px;
    height: 280px;
}

.banner-block {
    width: 1430px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1430px) {
    .banner-section {
        padding: 0 10px;
    }
}

@media (max-width: 1350px) {

    .banner-block {
        justify-content: space-around;
    }

    .left-banner img, .right-banner img{
        width: 470px;
        height: 200px;
    }
}

@media (max-width: 950px) {
    .banner-block {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
    }
}

@media (max-width: 720px) {
    .left-banner img,
    .right-banner img {
        width: 340px;
        height: 150px;
    }
}

@media (max-width: 370px) {
    .left-banner img,
    .right-banner img {
        width: 310px;
        /*height: 120px;*/
    }
}