footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #273841;
}

.footer-content {
    width: 1430px;
    /*height: 384px;*/
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.footer-logo {
    width: 198px;
    height: 54px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.footer-links {
    margin-bottom: 20px;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}

.footer-links-right{
    width: 78px;
    height: 78px;
    /*margin-top: 1.5em;*/
}

.footer-links-right img {
    margin-right: 0;
}

.column-title {
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.column-title-lic {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

/*.second {*/
/*    margin-left: 9em;*/
/*}*/

.third {
    margin-left: -4em;
}

.footer-links-column ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links-column a {
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    color: #B7BFC3;
}

.footer-links-column a:hover {
    text-decoration-line: underline;
}

.footer-links-column a:focus {
    color: #E4E5E6;
    text-decoration-line: underline;
}

.footer-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #425E6D;
    padding: 10px 0;
}

.footer-footer-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
}

.social-block a,
.pay-block a {
    margin-right: 6px;
}

.social-block a:last-child,
.pay-block a:last-child {
    margin-right: 0;
}

.footer-footer p {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
}

.outer {
    display: none;
}

@media (max-width: 1430px) {
    footer {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .footer-links {
        align-items: center;
    }
}

@media (max-width: 600px) {

    .footer-links {
        display: none;
    }

    .outer {
        display: block;
    }

    .outer {
        width: 100%;
        margin: 0 auto;
        line-height: 26px;
    }

    .footer-links-column {
        border-bottom: 1px solid #425E6D;
    }

    .footer-links-column:last-child {
        border-bottom: none;
    }

    .outer-item {
        background-color: #273841;
        color: #B7BFC3;
        padding: 5px 20px;
        margin-bottom: 10px;
        /*border-radius: 5px;*/
    }

    .outer-item-list {
        margin: 0;
    }

    .list-item {
        list-style: none;
    }

    .list-link {
        text-decoration: none;
        color: #B7BFC3;
        transition: 0.3s;
    }


    .list-link:hover {
        text-decoration: none;
        color: #FFFFFF;
    }

    .column-title {
        background-color: #273841;
        color: #fff;
        padding: 16px;
        /*border-radius: 5px;*/
        cursor: pointer;
        position: relative;
        font-size: 16px;
        outline: none;
        /*margin: 20px 0;*/
    }


    details > summary::-webkit-details-marker {
        display: none;
    }

    .summary::-webkit-details-marker {
        display: none;
    }

    details[open] summary ~ * {
        animation: smooth 0.4s ease-in-out;
    }


    @keyframes smooth {
        0% {
            opacity: 0;
            margin-top: -10px;
        }
        100% {
            opacity: 1;
            margin-top: 0;
        }
    }
    details > summary::after {
        position: absolute;
        content: "";
        background: url("/images/arrow-footer-down.png") no-repeat;
        width: 16px;
        height: 9px;
        right: 25px;
        top: 40%;
    }

    details[open] > summary::after {
        position: absolute;
        content: "";
        background: url("/images/arrow-footer-up.png") no-repeat;
        width: 16px;
        height: 9px;
        right: 25px;
        top: 40%;
    }
}

@media (max-width: 430px) {

    .footer-logo {
        margin: 0 auto;
    }

    .footer-footer-desktop {
        row-gap: 12px;
    }

    .footer-header {
        flex-direction: column;
        row-gap: 20px;
    }
}