.banner-section {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.banner-block {
    width: 1430px;
    display: flex;
    justify-content: space-between;
}
