.login_wrapper {
    max-width: 570px;
    margin: 0 auto;
    padding-top: 70px;
}

.heading-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
    color: #E85B96;
}

.enter {
    /*display: flex;*/
    /*align-items: center;*/
}

.enter-question {
    margin-right: 6px;
    font-size: 16px;
    line-height: 16px;
    color: #8F9A9F;
}

.enter-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #273841;
}

.enter-link:hover {
    text-decoration: none;
}

.enter-link:active {
    text-decoration: none;
    color: #2B91D7;
}

.login-form {
    padding: 50px 100px;
    background: #FDFDFD;
    border: 1px solid #D4E0E7;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;

/*// !!! Только для демонстрации section - УБРАТЬ потом!*/
    margin-bottom: 40px;
}

/*Form*/

/* Full-width inputs */

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    background: #F8F8F8;
    border: 1px solid #A4AEB3;
    box-sizing: border-box;
    border-radius: 4px;
    transition: all 0.3s linear;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover {
    border: 1px solid #2B91D7;
    /*transition: all 0.2s linear;*/
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background: #F2F8FD;
    border: 1px solid #2B91D7;
}

input[type=text]:active,
input[type=password]:active,
input[type=email]:active {
    background: #FFFFFF;
    border: 1px solid #1D81C6;
}

input[type=password],
.psw[type=text],
.psw-field[type=text],
.psw-field-conf[type=text] {
    margin: 8px 0;
}

input[type=text],
input[type=email] {
    margin: 8px 0 30px 0;
}

.input-group {
    position: relative;
}

.icon-user,
.icon-email,
.icon-psw {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 38px;
}

.icon-email-forgot {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 19px;
}

.icon-user {
    background:
            url("/images/main/img/icon-user.svg")
            no-repeat center content-box;
}

.icon-email,
.icon-email-forgot {
    background:
            url("/images/main/img/icon-email.svg")
            no-repeat center content-box;
}

.icon-psw {
    background:
            url("/images/main/img/icon-psw.svg")
            no-repeat center content-box;
}

.icon-eye {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 12px;
    top: 38px;
    background:
            url("/images/main/img/icon-eye-active.svg")
            no-repeat center content-box;
}

.icon-eye-slash {
    position: absolute;
    /*visibility: hidden;*/
    width: 20px;
    height: 20px;
    right: 12px;
    top: 38px;
    background:
            url("/images/main/img/icon-eye.svg")
            no-repeat center content-box;
}

.showLogin,
.hideLogin,
.showPsw,
.hidePsw,
.showConf,
.hideConf {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 12px;
    top: 38px;
}

.hideLogin,
.hidePsw,
.hideConf{
    display: none;
}

#psw-btn {
    background: transparent;
    border: none;
}

.input-group input {
    padding-left: 36px;
}

.inputs-label {
    position: relative;
    font-size: 18px;
    line-height: 16px;
    color: #273841;
}

.forgot {
    width: fit-content;
    margin-left: auto;
    margin-bottom: 20px;
}

.remember-text {
    font-size: 16px;
    line-height: 16px;
    color: #273841;
}

.remember-text a {
   color: #2B91D7;
}

.accept {
    margin: 30px 0;
}

.protect {
    border-top: 4px solid #D4E0E7;
    border-radius: 1px;
    padding: 6px 0 18px;
    margin-top: 16px;
}

.protect-text {
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #8F9A9F;
}

.psw a {
    font-size: 16px;
    line-height: 16px;
    color: #8F9A9F;
    text-decoration: none;
}

.psw a:hover {
    text-decoration: underline;
    transition: 1s;
}

.psw a:active {
    text-decoration: underline;
    color: #2B91D7;
    transition: color .3s;
}

.login-btn {
    width: 100%;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    border-radius: 3px;
    background-color: #E85B96;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #D23A7A;
    transition: background-color .3s;
}

.login-btn:active {
    background-color: #D22970;
    transition: background-color .3s;
}

.login-btn:disabled {
    background-color: #D4E0E7;
    transition: background-color .3s;
}

.or-login {
    height: 1px;
    background-color: #B7BFC3;
    display: flex;
    align-items: center;
    margin: 30px 0;

}

.or-login-text {
    background-color: #FDFDFD;
    width: fit-content;
    margin: 0 auto;
    padding: 0 15px 3px;
    font-size: 16px;
    line-height: 16px;
    color: #8F9A9F;
}

.login-social-btns {
    /*margin-top: 40px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-social {
    height: 46px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    background: #F8F8F8;
    border: 1px solid #A4AEB3;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.login-social:hover,
.login-social:active {
    border: 1px solid #2B91D7;
    transition: background-color .3s;
}

.login-social-icon {
    /*width: 22px;*/
    height: 22px;
    margin-right: 4px;
}

.login-social-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #273841;
}

.link-faq {
    padding-top: 24px;
    text-align: center;
}

.list-faq-text {
    font-size: 16px;
    line-height: 16px;
    color: #232221;
}

.list-faq-text a {
    color: #2B91D7;
}

.list-faq-text a:hover {
    text-decoration: none;
}

/*CHECKBOXES STYLES*/

/* Hiding the initial checkbox */
.main {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: #273841;
}

.main-accept {
    padding-left: 1.8em;
    padding-right: .5em;
}

.main a {
   color: #2B91D7;
}

.checkbox-input {
    visibility: hidden;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid #A4AEB3;
    border-radius: 4px;
    background-color: #F8F8F8;
}

.main:hover input ~ .checkbox {
    background: #F2F2F2;
    border: 1px solid #2B91D7;
}

.main input:active ~ .checkbox {
    background-color: white;
}

.main input:checked ~ .checkbox {
    background: #1D81C6;
}

.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.main input:checked ~ .checkbox:after {
    display: block;
}

.main .checkbox:after {
    left: 6px;
    bottom: 4px;
    width: 8px;
    height: 16px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 610px) {

    .login_wrapper {
        padding-top: 20px;
    }

    .heading-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        flex-direction: column;
        row-gap: 18px;
    }

    .login-form {
        padding: 0 20px;
        background: #FDFDFD;
        border: none;
        box-sizing: border-box;
        border-radius: 6px;
        overflow: hidden;
    }

    .login-social-btns {
        display: flex;
        flex-direction: column;
        row-gap: 22px;
    }

    .login-social {
        width: 100%;
        justify-content: center;
    }

}

/* FORGOT PASSWORD Styles - Start */
.forgot-section {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 50px 12px;
    background: #FDFDFD;
    border: 1px solid #D4E0E7;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(90, 96, 99, 0.3);
    border-radius: 6px;

    /*// !!! Только для демонстрации section - УБРАТЬ потом!*/
    margin-bottom: 40px;
}

.heading-forgot-section {
    padding-bottom: 26px;
    font-weight: 600;
    font-size: 22px;
    line-height: 16px;
    text-align: center;
    color: #273841;
}

.text-forgot-section {
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #273841;
}

.form-forgot-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.send-btn {
    margin: 0 auto 40px;
    width: 168px;
}

.another-email {
    width: fit-content;
    margin: 0 auto;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #8F9A9F;
    background-color: transparent;
    border-bottom: 2px dotted #8F9A9F ;
    cursor: pointer;
    overflow: hidden;
}

.another-email:hover {
    color: #2B91D7;
    border-bottom: 2px dotted #2B91D7 ;
}

.another-email:active {
    color: #2B91D7;
    border: none;
}


/* FORGOT PASSWORD Styles - End */
