/*MODAL profile Menu - START*/
.profile-burger-block {
    position: relative;
    margin-top: 0.5em;
}

.profile-burger {
    width: 32px;
    height: 32px;
    display: none;
    position: relative;
    opacity: 0;
    cursor: pointer
}

.profile-burger:checked ~ .profile-modal {
    /*display: block;*/
    transform: scale(1, 1)
}

.profile-burger-lines {
    bottom: 10px;
    left: 13px;
}

.profile-burger-lines {
    width: 16px;
    height: 2px;
    display: none;
    background-color: #273841;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.profile-modal {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    padding: 0 30px;
    top: 0;
    left: 0;
    /*display: none;*/
    z-index: 99;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform 400ms ease-in-out;
}

.profile-burger-label {
    display: flex;
    justify-content: flex-end;
}

.profile-close {
    text-align: right;
    padding: 20px;
    cursor: pointer;
}

.profile-logo {
    display: flex;
    margin-bottom: 2em;
}

.profile-photo {
    width: 48px;
    height: 48px;
    margin-right: 1em;
    border-radius: 50%;
    background: #F2F2F2;
    border: 2px solid #EBECEE;
}

.profile-name-mail {
    display: flex;
    flex-direction: column;
}

.name-user,
.email-user {
    text-decoration: none;
    font-size: 16px;
    color: #2B91D7;
}

hr.style-line {
    border: 0;
    height: 1px;
    background: #D4E0E7;
    margin: 18px 0 14px;
}

.profile-modal a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #232221;
}

.profile-points {
    margin-bottom: 26px;
    list-style: none;
}

.profile-modal div span {
    /*opacity: 0;*/
}

.profile-modal a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 2px;
    width: 0;
    background: #00CCCC none repeat scroll 0 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.profile-modal a:hover {
    color: #00CCCC;
}

.profile-modal span {
    font-size: 14px;
    line-height: 24px;
    color: #00CCCC;
}

.profile-modal a:hover::after {
    width: 100%;
    left: 0;
}

.new-menu-item {
    position: relative;
}

.new-menu-item span {
    position: absolute;
    bottom: 14px;
    /*left: 106px;*/
}

.shop-menu-item {
    height: 60px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    margin-bottom: 26px;
    position: relative;
}

.shop-menu-item a {
    line-height: 60px;
    margin-left: 10px;
}

.shop-menu-item span {
    position: absolute;
    top: 10px;
}


@media (max-width: 611px) {
    .profile-burger {
        display: block;
        position: absolute;
    }

    .profile-burger-lines,
    .profile-burger-lines::before,
    .profile-burger-lines::after {
        display: block;
    }

    /*.profile-burger-lines::before,*/
    /*.profile-burger-lines::after {*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*}*/
    /*.profile-burger-lines::before {*/
    /*    height: 2px;*/
    /*    bottom: 12px;*/
    /*}*/
    /*.profile-burger-lines::after {*/
    /*    height: 2px;*/
    /*    bottom: 6px;*/
    /*}*/
}

@media (max-width: 500px) {
    .profile-modal {
        width: 100%;
    }
}
